[![innomatics_1.png](https://s22.postimg.cc/vh6rctfn5/innomatics_1.png)](https://www.innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)

###  LIST
- List is sequence of collection of Different Data Types
- List is Mutable (Changable) 
- it is represented as [ ]

Create a list of numbers
> nums = [1,2,3,4]

In [2]:
nums = [1,2,3,4]
nums

[1, 2, 3, 4]

In [1]:
list=[1,2,3.0,4.0,"Innomatics", 'H']

In [2]:
list

[1, 2, 3.0, 4.0, 'Innomatics', 'H']

** 1. Remove number "3" in a list**

In [3]:
# Method 1 
del nums[2]
nums

[1, 2, 4]

In [14]:
# Method 2
nums.remove(3)
nums

[1, 2, 4]

In [16]:
# Method 3
nums.pop(2)
nums

[1, 2, 4]

** Remove last element in the list **
> hint: remove 4 (L.pop)

In [32]:
nums.pop()

4

**Check nums.pop(0) ** 
> write you comment after executing this command

In [33]:
nums.pop(0) # removes zeroth position

1

 **Extent** list (3,4)
 > **hint: nums.extend([3,4])

In [34]:
# Method1
nums.extend([3,4])
nums

[2, 3, 4]

In [27]:
#Method 2
nums+[3,4]

[2, 3, 4]

**Insert number "1" in 0th position**

In [35]:
nums.insert(0,1)
nums

[1, 2, 3, 4]

**Insert "two-and-half" in 2nd position**

In [36]:
nums.insert(2,'two-and-half')

In [37]:
nums

[1, 2, 'two-and-half', 3, 4]

**2. Create a list with name plist with phrase = "Don't panic!"**

In [1]:
phrase = "Don't panic!"

*convert into list*

In [2]:
plist = list(phrase)

In [3]:
plist

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

Remove ** '** and **!** in the list

In [4]:
plist.remove("'")
plist.remove("!")

In [5]:
plist

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c']

**Remove "p" , "a", "n","D" and extend the list at the last**

In [44]:
plist.extend([plist.pop(5),plist.pop(5),plist.pop(5),plist.pop(0)])

In [45]:
plist

['o', 'n', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D']

**Explain how ?**

**Joining List**

**Extract last 4 element in plist and append "a" and name as plist1**

- Extract list

In [6]:
plist1 = plist[-4:]
plist1

['a', 'n', 'i', 'c']

- append list

In [9]:
plist1.append('a')

In [10]:
plist1

['a', 'n', 'i', 'c', 'a']

- Join list

In [8]:
"".join(plist1)

'anic'

###  Tuples

Create a tuples for numbers 31,24,35,85 as nums

In [ ]:
# CODE HERE

In [58]:
nums=tuple((31,24,35,85))
nums

(31, 24, 35, 85)

** Remove number "35" in a tuple**

*Hint:* Convert into list

In [49]:
# CODE HERE

In [54]:

nums.remove(35)

AttributeError: 'tuple' object has no attribute 'remove'

In [33]:
nums.remove(35)
nums

[31, 24, 85]

**Extent** tuple (85,19)

In [ ]:
# CODE HERE

In [47]:
nums.append(19)
nums

[31, 24, 35, 85, 19]

In [44]:
nums.remove(85)
nums

[31, 24, 35]

# [Innomatics Technological Hub](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)