[![innomatics_1.png](https://s22.postimg.cc/vh6rctfn5/innomatics_1.png)](https://www.innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)

###  Dictionary

Create Dictionary for following information as "person1":
   - Name = Srikanth
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [1]:
# CODE HERE

In [6]:
person1={"Name":"Srikanth",
         "Gender":"Male",
         "Location":"Nizampet,hyderabad",
         "Occupation":"Data Scentist"}
print(person1)

{'Name': 'Srikanth', 'Gender': 'Male', 'Location': 'Nizampet,hyderabad', 'Occupation': 'Data Scentist'}


> print keys in person1 as a list

In [ ]:
# CODE HERE

In [3]:
#  CODE HERE

['Name', 'Gender', 'Occupation', 'Location']

> Srikanth age is 27. Assign his age in person1 as key "Age"

In [ ]:
# CODE HERE

In [10]:
person1["age"]=27
person1

{'Name': 'Srikanth',
 'Gender': 'Male',
 'Location': 'Nizampet,hyderabad',
 'Occupation': 'Data Scentist',
 'age': 27}

> Remove Location in person1

In [1]:
# CODE HERE

In [16]:
del person1["Location"]

{'Name': 'Srikanth',
 'Gender': 'Male',
 'Occupation': 'Data Scentist',
 'age': 27}

> Create dictionary of person2 with
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [ ]:
# CODE HERE

In [17]:
person2={"Name":"Raghu Ram","Gender":"Male","Age":25,"Occupation":"Data Scientist"}

In [8]:
person2

{'Age': 25,
 'Gender': 'Male',
 'Name': 'Raghu Ram',
 'Occupation': 'Data Scientist'}

> Append values on Person1 and Person2

In [9]:
print('='*20,'person1','='*20)
print(person1)
print('='*20,'person2','='*20)
print(person2)

==================== person1 ====================
{'Name': 'Srikanth', 'Gender': 'Male', 'Occupation': 'Data Scientist', 'Age': 27}
==================== person2 ====================
{'Name': 'Raghu Ram', 'Gender': 'Male', 'Age': 25, 'Occupation': 'Data Scientist'}

In [10]:
# CODE HERE to append

In [20]:
person1={"Name":"Srikanth","Gender":"Male","Location":"Nizampet,hyderabad","Occupation":"Data Scentist"}
print(person1)
person2={"Name":"Raghu Ram","Gender":"Male","Age":25,"Occupation":"Data Scientist"}
print(person2)
Persons=person1.update(person2)
print(Persons)

{'Name': 'Srikanth', 'Gender': 'Male', 'Location': 'Nizampet,hyderabad', 'Occupation': 'Data Scentist'}
{'Name': 'Raghu Ram', 'Gender': 'Male', 'Age': 25, 'Occupation': 'Data Scientist'}
None

{'Age': [27, 25],
 'Gender': ['Male', 'Male'],
 'Name': ['Srikanth', 'Raghu Ram'],
 'Occupation': ['Data Scientist', 'Data Scientist']}

# [Innomatics Technological Hub](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)